{% load static %}

<!-- Main Content -->
<main class="container mx-auto py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-5">
        {% for image in images %}
            <a href="{% url 'code' image.id %}">
                <div class="relative bg-white p-6 rounded-lg shadow-xl flex justify-center items-center flex-col transform transition-all hover:-translate-y-5 duration-500">
                    <h2 class="text-center text-lg font-semibold mb-4">QR Code za {{ image }}</h2>
                    <div class="flex justify-center mb-4">
                        <img src="{{ image.qr_code.url }}" alt="QR Kod" class="w-64 h-64">
                    </div>
                    <div class="flex justify-center items-center mb-4">
                        <img src="{{ image.image.url }}" alt="QR Kod" class="">
                    </div>
                    <p class="absolute bottom-0 text-center text-sm text-gray-600">{{ image.created_at|date:"d.m.Y H:i" }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</main>