{% load static %}

<!-- Main Content -->
<div class="container mx-auto py-8 flex flex-col items-center justify-center">

    {% if chosen_image %}
    <div class="grid grid-cols-1">
        <div class="bg-white p-6 rounded-lg shadow-xl transform transition-all hover:-translate-y-5 duration-500 ">
            <h2 class="text-center text-lg font-semibold mb-4 text-white">QR Code za {{ chosen_image }}</h2>
            <div class="flex justify-center mb-4">
                <img src="{{ chosen_image.qr_code.url }}" alt="QR Kod" class="">
            </div>
<!--            <p class="text-center text-sm text-gray-600">{{ last_image.created_at }}</p>-->
            <p class="text-center text-sm text-gray-600">{{ chosen_image.created_at|date:"d.m.Y H:i" }}</p>
        </div>
    </div>
    {% else %}
    <div class="grid grid-cols-1">
        <div class="bg-white p-6 rounded-lg shadow-xl transform transition-all hover:-translate-y-5 duration-500 ">
            <h2 class="text-center text-lg font-semibold mb-4">Unesite prvu sliku preko "Admin" dela.</h2>
        </div>
    </div>
    {% endif %}
</div>