{% extends 'base.html' %}
{% load static %}


{% block content %}

 <div class="max-w-4xl mx-auto p-8">
        <h1 class="text-3xl font-semibold text-center text-gray-700 mb-6 p-5 bg-black/80 text-white">Dodaj Sliku</h1>

        <!-- Forma za upload -->
        <form action="{% url 'website:image_upload' %}" method="POST" class="dropzone" id="imageDropzone" enctype="multipart/form-data">
            {% csrf_token %}
        </form>
        <br>
        <div class="flex justify-end">
            <p class=" w-fit bg-gray-200 p-5 hover:bg-gray-400 cursor-pointer hover:text-white rounded-lg" onclick="location.reload();">Dodaj sledecu</p>
        </div>

        <div class="mt-6">
            <div id="imagePreview" class="mt-4 grid grid-cols-3 gap-4">
                <!-- Slike će biti prikazane ovde -->
            </div>
        </div>
    </div>

    <script src="{% static 'js/upload_image.js' %}"></script>

{% endblock %}

