
{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Qr - code {% endblock %}</title>
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
    {% tailwind_css %}
</head>

<body class="min-h-screen flex flex-col">

    {% include 'header.html' %}

    <main class="min-h-screen">
        <div class="mt-[100px]"></div>

        {% block content %}
        {% endblock %}

    </main>

    {% include 'footer.html' %}

</body>

</html>