
{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Qr - code {% endblock %}</title>
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
    {% tailwind_css %}
</head>

<body class="min-h-screen flex flex-col">
    <!-- Header -->
    <header class="flex bg-blue-600 text-white py-4 justify-center items-center pr-5">
        <div class="container mx-auto text-center">
<!--            <h1 class="text-3xl font-bold">QR Kodovi</h1>-->
        </div>
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold">QR Kodovi</h1>
        </div>
        <div class="container mx-auto text-center flex justify-end">
            <a href="{% url 'admin:index' %}"><h1 class="text-xl font-bold cursor-pointer">login</h1> </a>
        </div>

    </header>

    <main class="min-h-screen flex flex-col">

        {% block content %}
        {% endblock %}

    </main>


    <!-- Footer -->
    <footer class="bg-blue-600 text-white py-4 mt-8">
        <div class="container mx-auto text-center">
            <p>&copy; 2025 ItBranch. Sva prava zadržana.</p>
        </div>
    </footer>
</body>

</html>